<div [hidden]="submitted" class="unit-add-form">
  <h4>Agregar unidad</h4>
  <form (ngSubmit)="onSubmit()" #unitForm="ngForm">
    <div class="form-group">
      <p class="form-error">{{ errMsg }}</p>
      <div class="form-input">
        <md-input-container>
          <input type="text" class="unit-form-text" id="name"
            md-input
            placeholder="Nombre"
            required
            [(ngModel)]="model.name" name="name"
            #name="ngModel">
        </md-input-container>
        <div [hidden]="name.valid || name.pristine"
          class="form-error">
          El nombre es requerido.
        </div>
      </div>
      <button
        md-raised-button
        type="submit"
        [disabled]="!unitForm.form.valid">Agregar</button>
    </div>
  </form>
</div>
<div class="spinner" [hidden]="!submitted">
  <md-spinner></md-spinner>
</div>