<div [hidden]="submitted" class="unit-edit-form">
  <h4>Editar unidad</h4>
  <form (ngSubmit)="onSubmit()" #unitForm="ngForm">
    <div class="form-group">
      <p *ngIf="errMsg" class="form-error">{{ errMsg }}</p>
      <div class="form-input">
        <md-input-container>
          <input mdInput type="text" id="name" placeholder="Nombre" required value="model.name"
            [(ngModel)]="model.name" name="name" #name="ngModel">
        </md-input-container>
        <div [hidden]="name.valid || name.pristine" class="form-error">
          El nombre es requerido.
        </div>
      </div>
      <div class="form-input">
        <md-input-container>
          <input mdInput type="text" id="licensePlate" placeholder="Placas" required value="model.licensePlate"
            [(ngModel)]="model.licensePlate" name="licensePlate" #licensePlate="ngModel">
        </md-input-container>
        <div [hidden]="licensePlate.valid || licensePlate.pristine" class="form-error">
          Las placas son requeridas.
        </div>
      </div>
      <div class="form-input">
        <md-input-container>
          <input mdInput type="text" id="year" placeholder="Año de la unidad" value="model.licensePlate"
            [(ngModel)]="model.year" name="year" #year="ngModel">
        </md-input-container>
      </div>
      <div class="form-input">
        <md-input-container>
          <input mdInput type="text" id="make" placeholder="Modelo" value="model.make"
            [(ngModel)]="model.make" name="make" #make="ngModel">
        </md-input-container>
      </div>
      <button md-raised-button type="submit" color="primary"
        [disabled]="!unitForm.form.valid">Guardar</button>
    </div>
  </form>
</div>
<div class="spinner" [hidden]="!submitted">
  <md-spinner></md-spinner>
</div>