<div class="app-navbar">
    <a class="app-navbar-brand">Asistente de detección de fatiga</a>
    <ul class="app-navbar-items-list" routerLinkActive="active">
        <li class="app-navbar-item"><a class="app-navbar-link" routerLink="/">Unidades</a></li>
        <li class="app-navbar-item"><a class="app-navbar-link">Añadir usuario</a></li>
        <li class="app-navbar-item"><a class="app-navbar-link" routerLink="unidad">Añadir unidad</a></li>
        <li class="app-navbar-item"><a class="app-navbar-link" routerLink="login">Cerrar sesión</a></li>
    </ul>
</div>
