<div class="app-navbar navbar-dark-theme">
  <md-toolbar color="primary">
    <div class="app-navbar-brand">
      Asistente de detección de fatiga
    </div>
    <span class="fill-horizontal-space"></span>
    <a md-raised-button routerLink="/" routerLinkActive="active" color="accent" class="app-navbar-item">
      <md-icon>directions_car</md-icon>
      Unidades
    </a>
    <a md-raised-button routerLink="usuarios" routerLinkActive="active" color="accent" class="app-navbar-item">
      <md-icon>person_add</md-icon>
      Añadir usuario
    </a>
    <a md-raised-button routerLink="unidades" routerLinkActive="active" color="accent" class="app-navbar-item">
      <md-icon>add_circle</md-icon>
      Añadir unidad
    </a>
    <a md-raised-button routerLink="login" routerLinkActive="active" color="accent" class="app-navbar-item">
      <md-icon>exit_to_app</md-icon>
      Cerrar sesión
    </a>
  </md-toolbar>
</div>