.app-root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.app-header {
  flex: 0 1 auto;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.app-nav {
  flex: 0 0 286px;
  background-color: #9e0b0f;
  display: flex;
  overflow-y: scroll;
}

.app-content-main {
  flex: 1;
  overflow-y: scroll;
}