<h4 class="unit-name" *ngIf="unit">{{ unit.name }}</h4>
<div class="unit-status-data" *ngIf="statusData">
  <div class="flex-row">
    <div class="status-picture-container">
      <img *ngIf="statusPicturePath" [src]="statusPicturePath" class="status-picture" />
    </div>
    <div class="status-map">
      <sebm-google-map [latitude]="statusData.latitude" [longitude]="statusData.longitude">
        <sebm-google-map-marker [latitude]="statusData.latitude" [longitude]="statusData.longitude"></sebm-google-map-marker>
      </sebm-google-map>
    </div>
  </div>
  <div class="status-acceleration">
    <h4 class="status-acceleration-heading">Cambio de la aceleración en la distancia recorrida</h4>
    <div class="status-acceleration-chart">
      <canvas baseChart class="chart"
        [data]="chartData"
        [labels]="chartLabels"
        [legend]='false'
        [chartType]="'line'"></canvas>
    </div>
  </div>
</div>